.container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  color: #f1f1f1;
  .game {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .scoreboard {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-left: #f1f1f1 1px ridge;
  }
  .title {
    color: #f1f1f1;
    text-align: center;
  }
}

.gameboard {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #1f3540;
  border-radius: 1rem;
}

.square {
  width: 10rem;
  height: 10rem;
  border: 3px solid #0f1b21;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
}

.message {
  font-family: "Gill Sans";
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle {
  height: 9rem;
  width: 9rem;
  background-color: inherit;
  border: 20px;
  background-image: url("../../assets/circle.png");
  background-size: cover;
}

.cross {
  height: 9rem;
  width: 9rem;
  background-color: inherit;
  border: 20px;
  background-image: url("../../assets/cross.png");
  background-size: cover;
}
.restart {
  width: 8rem;
  height: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2rem;
  background: #1f3540;
  color: #26ffcb;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.latest-game {
  font-weight: bold;
  color: #26ffcb;
}
.score {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  .circle-player {
    color: #db3636;
  }
  .cross-player {
    color: #111212;
  }
}
